Final Project/Connected Services/Player_ServiceRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpaceInvaders_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpaceInvaders_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bullet_Level" type="xs:int" />
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="Current_Level" type="xs:int" />
      <xs:element minOccurs="0" name="HP" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shield1_HP" type="xs:int" />
      <xs:element minOccurs="0" name="Shield1_Image" type="xs:int" />
      <xs:element minOccurs="0" name="Shield2_HP" type="xs:int" />
      <xs:element minOccurs="0" name="Shield2_Image" type="xs:int" />
      <xs:element minOccurs="0" name="Shield3_HP" type="xs:int" />
      <xs:element minOccurs="0" name="Shield3_Image" type="xs:int" />
      <xs:element minOccurs="0" name="SpaceShip_Level" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>