Final Project/Connected Services/Player_ServiceRef/SavePlayer_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SavePlayer_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpaceInvaders_Service/SavePlayer_Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpaceInvaders_Service/SavePlayer_Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SpaceInvaders_Service/SavePlayer_Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SpaceInvaders_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISavePlayer_Service_InsertNewPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewPlayer" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_InsertNewPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_LoadPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPlayer" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_LoadPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_IsPlayerExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPlayerExists" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_IsPlayerExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPlayerExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_IsUsernameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameExists" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_IsUsernameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_RemoveFromDB_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromDB" />
  </wsdl:message>
  <wsdl:message name="ISavePlayer_Service_RemoveFromDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromDBResponse" />
  </wsdl:message>
  <wsdl:portType name="ISavePlayer_Service">
    <wsdl:operation name="InsertNewPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/InsertNewPlayer" message="tns:ISavePlayer_Service_InsertNewPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/InsertNewPlayerResponse" message="tns:ISavePlayer_Service_InsertNewPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/UpdatePlayer" message="tns:ISavePlayer_Service_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/UpdatePlayerResponse" message="tns:ISavePlayer_Service_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/LoadPlayer" message="tns:ISavePlayer_Service_LoadPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/LoadPlayerResponse" message="tns:ISavePlayer_Service_LoadPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPlayerExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/IsPlayerExists" message="tns:ISavePlayer_Service_IsPlayerExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/IsPlayerExistsResponse" message="tns:ISavePlayer_Service_IsPlayerExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUsernameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/IsUsernameExists" message="tns:ISavePlayer_Service_IsUsernameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/IsUsernameExistsResponse" message="tns:ISavePlayer_Service_IsUsernameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ISavePlayer_Service/RemoveFromDB" message="tns:ISavePlayer_Service_RemoveFromDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISavePlayer_Service/RemoveFromDBResponse" message="tns:ISavePlayer_Service_RemoveFromDB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISavePlayer_Service" type="tns:ISavePlayer_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewPlayer">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/InsertNewPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPlayer">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/LoadPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPlayerExists">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/IsPlayerExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsernameExists">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/IsUsernameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromDB">
      <soap:operation soapAction="http://tempuri.org/ISavePlayer_Service/RemoveFromDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SavePlayer_Service">
    <wsdl:port name="BasicHttpBinding_ISavePlayer_Service" binding="tns:BasicHttpBinding_ISavePlayer_Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SpaceInvaders_Service/SavePlayer_Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>